.card {
  position: relative;
  display: block;
  margin-bottom: $line-height-computed;
  background-color: $panel-bg;
  border: 1px solid $panel-default-border;
  border-radius: $panel-border-radius;
}



.card-title {
  margin-top: 0;
  margin-bottom: $line-height-computed / 2;
}

.card-body {
  padding-bottom: 10px;
}


.card-text:last-child {
  margin-bottom: 0;
}

.card-link {
  &:hover {
    text-decoration: none;
  }

  + .card-link {
    margin-left: $grid-gutter-width / 2;
  }
}


.card-header {
  @include clearfix;
  padding: $panel-heading-padding;
  background-color: $panel-default-heading-bg;
  border-bottom: 1px solid $panel-default-border;
  background-color: grey;
  color: white;

  &:first-child {
    border-radius: $panel-border-radius $panel-border-radius 0 0;
  }
}

